# Get your API key from https://platform.openai.com/api-keys
OPENAI_API_KEY=sk-your-key-here

# Get your API key from https://tavily.com
TAVILY_API_KEY=tvly-your-key-here

# Get your public key from https://liveblocks.io/dashboard/apikeys
NEXT_PUBLIC_LIVEBLOCKS_PUBLIC_KEY=pk_dev_your-key-here
